<?php

$finder = PhpCsFixer\Finder::create()->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'no_whitespace_in_blank_line' => true,
        'php_unit_set_up_tear_down_visibility' => true,
    ])
    ->setFinder($finder);
